<div class="px-4 py-8">
  <h1 class="text-2xl font-bold">Welcome to Todoest!</h1>
  <p class="mt-2">Simplifying Your tasks </p>
  <p class="mt-2">Syed Nabeel </p>

  <.link 
    navigate={~p"/tasks"} 
    class="mt-4 inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
    View Tasks
  </.link>
</div>